section [class^="container"]{
    padding: 4rem 2rem;
}
@media screen and (min-width:1024px) {
    section [class^="container"]{
        padding: 4rem;
    }
    nav [class^="container"]{
        padding: 0 4rem;
    }
}

section:not(first-of-type){
    text-align: center;
}
/* NAVBAR */
.navbar{
    background-color: #ffffff;
}

.navbar-nav .nav-link{
    color:#000000;
    font-size: 1.1rem;
}
@media screen and (min-width:1024px) {
    .navbar-nav .nav-item{
        padding: 0 1rem;
    }
    .navbar-brand{
        font-size: 1.5rem;
    }
}

/* HERO */

section.hero{
    background-color: #ecf2ff;
    padding-top: 72px;
}
@media screen and (max-width:576px) {
    section.hero{
        text-align: center;
    }
    section.hero img{
        width: 70%;
    }
}

/* SERVICES */

section.services i {
    font-size: 2rem;
    margin: 1rem auto 0;
    border: 2px solid #000000;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}