body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfafa;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #370404;
    color: #fff;
}

header h1 {
    margin: 0;
}
header p {
    margin: 2;
    font-family: cursive;
}

nav ul {
    list-style: none;
    text-align: center;
    height: 28px;
    padding-top: 20;
    background-color: #621a1a;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    background-color: rgb(49, 10, 3);
    border-radius: 10px;
    border-left: 70px;
    box-sizing: 100%;

}
nav a:hover {
    color: #ff8c00; /* Change to your desired hover color */
    
}

section {
    padding: 50px 0;
}
.myphoto{
    height: 420px;
    width: 320px;
    float: left;
    margin-right: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.welcome{
    line-height: 1.8;
    height: 100px;
    width: 80%;
    margin-left: 50px;

}
.project {
    display: inline-block;
    vertical-align: top;
    margin-right: 2%; 
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100%;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}
.projecttwo{
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100%;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project:hover img {
    transform: scale(1.1);
}

.project h3 {
    margin: 15px 0;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: grid;
    grid-gap: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #444;
    color: #fff;
}
